
<label>{{field.meta.label}}</label>

{{#if field.meta.isRelation}}
    {{#if field.meta.isMulti}} {{!-- handle multi relation --}}

        {{#if field.value.isPending}}
            loading...
        {{else}}
            <b>{{field.values.length}}</b>
            <ul>
                {{#each relation in field.values}}
                    {{#if relation._ui.editing}}
                        <li>
                            {{widget-model-form routeModel=relation isEmbedded=true}}
                            {{#if relation._syncNeeded}}
                                <button {{action 'cancelRelations' relation}}> cancel </button>
                                <button {{action 'doneRelations' relation}}> save </button>
                            {{else}}
                                <button {{action 'doneRelations' relation}}> done </button>
                            {{/if}}
                        </li>
                    {{else}}
                        <li>
                            <button {{action 'edit' relation}}> {{relation.title}} </button><button {{action 'deleteRelations' relation}}>x</button>
                        </li>
                    {{/if}}
                {{/each}}
                <li>{{relation-autosuggest field=field}} <a {{action 'addRelations'}}> + </a>
                </li>
            </ul>
        {{/if}}

    {{else}}
        {{#if field.value}}{{!-- single relation --}}
            {{#if field.value.isPending}}
                loading...
            {{else}}
                {{#if field.editing}}
                    {{widget-model-form routeModel=field.value isEmbedded=true}}
                    {{#if field.value._syncNeeded}}
                        <button {{action 'cancelRelation'}}> cancel </button>
                        <button {{action 'doneRelation'}}> save </button>
                    {{else}}
                        <button {{action 'doneRelation'}}> done </button>
                    {{/if}}
                {{else}}
                    <button {{action 'edit'}}> {{field.value.title}}</button><button {{action 'deleteRelation'}}>x</button>
                {{/if}}
            {{/if}}
        {{else}}
           {{relation-autosuggest field=field}}  <a {{action 'addRelation'}}> + </a>
        {{/if}}
    {{/if}}

{{else}} {{!-- regular field --}}

    {{#if field.meta.isMulti}}

        <ul>
            {{#each fieldValue in field.values}}
                <li>{{dynamic-input fieldMeta=field.meta fieldValue=fieldValue.value}}<button {{action 'removeValue' fieldValue}}>x</button></li>
            {{/each}}
        </ul>
        <button {{action 'addValue'}}> + </button>

    {{else}}
        {{dynamic-input fieldValue=field.value fieldMeta=field.meta}}
    {{/if}}

{{/if}}