{{#if field.meta.isRelation}}
    {{#if field.meta.isMulti}}
        <ul>
        {{#if field.values.isPending}}
            <li>loading...</li>
        {{else}}
            {{#each relation in field.values}}
                <li>{{#link-to relation.meta.modelIndexEmberPath relation._id}}{{relation.title}} ({{relation._id}}){{/link-to}}</li>
            {{/each}}
        {{/if}}
        </ul>
    {{else}}
        {{#if field.value.isPending}}
            loading...
        {{else}}
            {{#link-to field.value.meta.modelIndexEmberPath field.value._id}}{{field.value.title}}{{/link-to}}
        {{/if}}
    {{/if}}
{{else}}
    {{#if field.meta.isMulti}}
    <ul>
        {{#each fieldValue in field.values}}
            <li>{{fieldValue.value}}</li>
        {{/each}}
    </ul>
    {{else}}
        {{field.value}}
    {{/if}}
{{/if}}