{{#if field.value}}
    {{#if field.value.isPending}}
        loading...
    {{else}}
        {{#if field.editing}}
            {{widget-model-form routeModel=field.value isEmbedded=true}}
            {{#if field.value._syncNeeded}}
                <div class="btn-group">
                    <button class="btn btn-default" {{action 'cancelRelation'}}> cancel </button>
                    <button class="btn btn-primary" {{action 'doneRelation'}}> save </button>
                </div>
            {{else}}
                <button class="btn btn-primary" {{action 'doneRelation'}}> done </button>
            {{/if}}
        {{else}}
            <div class="btn-group">
                <button class="btn btn-default" {{action 'edit'}}> {{field.value.title}}</button>
                <button class="btn btn-danger" {{action 'deleteRelation'}}>&times;</button>
            </div>
        {{/if}}
    {{/if}}
{{else}}
   {{relation-autosuggest field=field}}  <a class="btn btn-default" {{action 'addRelation'}}> + </a>
{{/if}}