{{#if field.value.isPending}}
    {{partial 'eureka-loading'}}
{{else}}
    <ul class="list-unstyled">
        {{#each field.values as |relation|}}
            {{#if relation._ui.editing}}
                <li>
                    {{widget-model-form routeModel=relation isEmbedded=true}}
                    {{#if relation._syncNeeded}}
                        <div class="btn-group">
                            <button class="btn btn-default" {{action 'cancelRelations' relation}}> cancel </button>
                            <button class="btn btn-primary" {{action 'doneRelations' relation}}> save </button>
                        </div>
                    {{else}}
                        <button class="btn btn-primary" {{action 'doneRelations' relation}}> done </button>
                    {{/if}}
                </li>
            {{else}}
                <li>
                    <div class="btn-group">
                        <button class="btn btn-default" {{action 'edit' relation}}> {{relation.title}} </button>
                        <button class="btn btn-danger" {{action 'deleteRelations' relation}}>&times;</button>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ul>

    {{#unless autosuggestDisabled}}
    <div class="form-inline">
        <div class="form-group">
           {{relation-autosuggest field=field ~}}
            <a class="btn btn-default" {{action 'addRelations'}}><i class="glyphicon glyphicon-pencil"></i></a>
        </div>
    </div>
    {{else}}
        <a class="btn btn-default" {{action 'addRelations'}}><i class="glyphicon glyphicon-pencil"></i></a>
    {{/unless}}
{{/if}}