{{#if field.value.isPending}}
    {{partial 'eureka-loading'}}
{{else}}
    <ul>
        {{#each relation in field.values}}
            {{#if relation._ui.editing}}
                <li>
                    {{widget-model-form routeModel=relation isEmbedded=true}}
                    {{#if relation._syncNeeded}}
                        <div class="btn-group">
                            <button class="btn btn-default" {{action 'cancelRelations' relation}}> cancel </button>
                            <button class="btn btn-primary" {{action 'doneRelations' relation}}> save </button>
                        </div>
                    {{else}}
                        <button class="btn btn-primary" {{action 'doneRelations' relation}}> done </button>
                    {{/if}}
                </li>
            {{else}}
                <li>
                    <div class="btn-group">
                        <button class="btn btn-default" {{action 'edit' relation}}> {{relation.title}} </button>
                        <button class="btn btn-danger" {{action 'deleteRelations' relation}}>&times;</button>
                    </div>
                </li>
            {{/if}}
        {{/each}}
        <li>{{relation-autosuggest field=field}} <a class="btn btn-default" {{action 'addRelations'}}> + </a>
        </li>
    </ul>
{{/if}}