
{{#if field.isMulti}}

    {{#if field.isRelation}}
        <div class="relations-list">
        {{#each item in field.content}}
            {{#if item.isEditable}}
                {{model-form model=item.value isRelation=true}}
                <button class="button alert" {{action 'removeRelation' item}}>remove</button>
                <button class="button success" {{action 'doneRelation' item}}>done</button>
            {{else}}
                {{#if item.value._id}}
                    <button class="button secondary" {{action 'editRelation' item}}>
                        {{item.value.__title__}} [X]
                    </button>
                {{else}}
                    <button class="button alert" {{action 'editRelation' item}}>
                        {{item.value.__title__}}
                    </button>
                {{/if}}
            {{/if}}
        {{/each}}
        </div>
        {{#unless field.isEditable}}
            {{relation-auto-suggest onSelected='add' placeholder="search..." field=field}}
        {{/unless}}

    {{else}}

        {{#each item in field.content}}
            {{dynamic-input field=field value=item.value}}
        {{/each}}
        {{#if displayAddButton}}
            <a {{action 'add'}}>add</a>
        {{/if}}

    {{/if}}

{{else}}


    {{#if field.isRelation}}

        {{#if field.content}}
            {{#if field.isEditable}}
                {{#if field.content._id}}
                    {{relation-auto-suggest onSelected='add' placeholder="search..." field=field}}
                {{else}}
                    {{model-form model=field.content isRelation=true}}
                    <button class="button alert" {{action 'removeRelation'}}>remove</button>
                    <button class="button success" {{action 'doneRelation' field}}>done</button>
                    <br />
                {{/if}}

            {{else}}
                {{#if field.content._id}}
                    <button class="button secondary" {{action 'editRelation' field}}>
                        {{{field.content.__title__}}} [X]
                    </button>
                {{else}}
                    <button class="button alert" {{action 'editRelation' field}}>
                        {{{field.content.__title__}}}
                    </button>
                {{/if}}
            {{/if}}
        {{else}}

            {{relation-auto-suggest onSelected='add' placeholder="search..." field=field}}

        {{/if}}

    {{else}}

        {{#if field.isI18n}}
            {{#each item in field.content}}
              <div class="row collapse">
                <div class="small-2 columns">
                    {{input type='text' placeholder='lang' classNames="prefix" value=item.lang}}
                </div>
                <div class="small-10 columns">
                    {{input type='text' placeholder='value' value=item.value}}
                </div>
              </div>
            {{/each}}
            <a {{action 'add'}}>add</a>

        {{else}}
            {{dynamic-input field=field value=field.content}}
        {{/if}}
    {{/if}}

{{/if}}
