{{#if field.schema.multi}}
    {{#if field.isI18n}}
        <ul class="eureka-i18n-multi-field-values">
        {{#if field.displayAllLanguages}}
            {{#each i18tem in field.content}}
                <li class="eureka-i18n-item">
                    <span class="eureka-i18n-value">
                        {{#if field.isSafeString}}
                                {{{i18tem.value}}}
                            {{else}}
                                {{i18tem.value}}
                        {{/if}}
                    </span>
                    <span class="eureka-i18n-lang label label-default">{{i18tem.lang}}</span>
                </li>
            {{/each}}
        {{else}}
            {{#each i18tem in field.content}}
                {{#if i18tem.matchSelectedOrFallbackLang}}
                    <li class="eureka-i18n-item">
                        {{#if field.isSafeString}}
                                {{{i18tem.value}}}
                            {{else}}
                                {{i18tem.value}}
                        {{/if}}
                    </li>
                {{/if}}
            {{/each}}
        {{/if}}
        </ul>
    {{else}}
        <ul class="eureka-multi-field-values">
        {{#each item in field.content}}
            <li class="eureka-multi-field-item">
                {{#if field.isRelation}}
                    {{#link-to item.value.__meta__.displayRouteName item.value._id
                        classNames="eureka-link-to-display"
                        classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                            {{item.value.__title__}}
                    {{/link-to}}
                {{else}}
                    {{#if field.isSafeString}}
                        {{{item.value}}}
                    {{else}}
                        {{item.value}}
                    {{/if}}
                {{/if}}
            </li>
        {{/each}}
    {{/if}}
    </ul>
{{else}}
    {{#if field.isRelation}}
        {{#link-to field.content.__meta__.displayRouteName field.content._id
            classNames="eureka-link-to-display"
            classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                {{field.content.__title__}}
        {{/link-to}}
    {{else}}
        {{#if field.isI18n}}
            {{#if field.displayAllLanguages}}
                <ul class="list-unstyled eureka-i18n-field-values">
                {{#each item in field.content}}
                    <li class="eureka-i18n-field-item">
                        <span class="eureka-i18n-value">
                        {{#if field.isSafeString}}
                            {{{item.value}}}
                        {{else}}
                            {{item.value}}
                        {{/if}}
                        </span>
                        <span class="eureka-i18n-lang label label-default">{{item.lang}}</span>
                    </li>
                {{/each}}
                </ul>
            {{else}}
                {{#each i18tem in field.content}}
                    {{#if i18tem.matchSelectedOrFallbackLang}}
                        {{#if field.isSafeString}}
                            {{{i18tem.value}}}
                        {{else}}
                            {{i18tem.value}}
                        {{/if}}
                    {{/if}}
                {{/each}}
            {{/if}}
        {{else}}
            {{#if field.isSafeString}}
                {{{field.content}}}
            {{else}}
                {{field.content}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
