
{{#if field.isMulti}}

    {{#if field.isRelation}}
        <div class="eureka-relations-list">
        {{#each item in field.content}}
            {{#if item.isEditable}}
                <div class="eureka-new-relation-form">
                    {{model-form model=item.value isRelation=true}}
                    <button class="btn btn-default" {{action 'removeRelation' item}}>remove</button>
                    <button class="btn btn-success" {{action 'doneRelation' item}}>done</button>
                </div>
            {{else}}
                {{#if item.value._id}}
                    <button {{bind-attr class=":btn :btn-primary :eureka-selected-relation field.name"}} {{action 'editRelation' item}}>
                        {{item.value.title}} &times;
                    </button>
                {{else}}
                    <button {{bind-attr class=":btn :btn-danger :eureka-selected-relation :eureka-new-relation field.name"}} {{action 'editRelation' item}}>
                        {{item.value.title}}
                    </button>
                {{/if}}
            {{/if}}
        {{/each}}
        </div>
        {{#unless field.isEditable}}
            {{relation-auto-suggest
                onSelected='add'
                placeholder="search..."
                field=field
                nameBinding='field.name'
                class="eureka-field-input"}}
        {{/unless}}

    {{else}}
        {{#each item in field.content}}
            {{#if field.isI18n}}
                <div class="eureka-multi-field-input eureka-i18n-field-inputs">
                    {{#if field.displayAllLanguages}}
                        {{dynamic-input field=field value=item.value lang=item.lang}}
                    {{else}}
                        {{#if item.matchSelectedLang}}
                          {{dynamic-input field=field value=item.value lang=item.lang}}
                        {{/if}}
                    {{/if}}
                </div>
            {{else}}
                <div class="eureka-multi-field-input">
                    {{dynamic-input field=field value=item.value}}
                </div>
            {{/if}}
        {{/each}}
        {{#if displayAddButton}}
            <button class="btn btn-default eureka-multi-field-add-input" {{action 'add'}}>add</button>
        {{/if}}

    {{/if}}

{{else}}


    {{#if field.isRelation}}

        {{#if field.content}}
            {{#if field.isEditable}}
                {{#if field.content._id}}
                    {{relation-auto-suggest
                         onSelected='add'
                         placeholder="search..."
                         field=field
                         nameBinding='field.name'
                         class="field-input"}}
                {{else}}
                    <div class="eureka-new-relation-form">
                        {{model-form model=field.content isRelation=true}}
                        <button class="btn btn-default" {{action 'removeRelation'}}>remove</button>
                        <button class="btn btn-success" {{action 'doneRelation' field}}>done</button>
                    </div>
                {{/if}}

            {{else}}
                {{#if field.content._id}}
                    <button {{bind-attr class=":btn :btn-primary :eureka-selected-relation field.name"}} {{action 'editRelation' field}}>
                        {{{field.content.title}}} &times;
                    </button>
                {{else}}
                    <button {{bind-attr class=":btn :btn-danger eureka-selected-relation eureka-new-relation field.name"}} {{action 'editRelation' field}}>
                        {{{field.content.title}}}
                    </button>
                {{/if}}
            {{/if}}
        {{else}}

            {{relation-auto-suggest
                onSelected='add'
                placeholder="search..."
                field=field
                nameBinding='field.name'
                class="eureka-field-input"}}

        {{/if}}

    {{else}}
        {{#if field.isI18n}}
            <div class="eureka-i18n-field-inputs">
            {{#each item in field.content}}
                {{#if field.displayAllLanguages}}
                    {{dynamic-input field=field value=item.value lang=item.lang}}
                {{else}}
                    {{#if item.matchSelectedLang}}
                        {{dynamic-input field=field value=item.value lang=item.lang}}
                    {{/if}}
                {{/if}}
            {{/each}}
            {{#if field.displayAllLanguages}}
                <button class="btn btn-default eureka-i18n-field-add-input" {{action 'add'}}>add</button>
            {{/if}}
            </div>
        {{else}}
            {{dynamic-input field=field value=field.content}}
        {{/if}}

    {{/if}}

{{/if}}
