
<div {{bind-attr class=":document model.dasherized_type"}}>
    <span class="label secondary">{{model.type}}</span>
    {{#model-to 'edit' model classNames="right"}}edit{{/model-to}}

    <h1 {{bind-attr class=":document-title model.dasherized_type"}}>
        {{{model.__title__}}}
    </h1>

    {{#if model.__description__}}
        <p class="document-description">{{{model.__description__}}}</p>
    {{/if}}

    {{#if model.__thumb__}}
        <img class="document-thumb" {{bind-attr src=model.__thumb__}} />
    {{/if}}


    {{#each field in fields}}
        <fieldset class="field">
            <legend class="field-name">{{field.name}}</legend>
            <span class="field-value">{{model-field-display field=field}}</span>
        </fieldset>
    {{/each}}
</div>