
{{#if isI18n}}
    <div class="input-group eureka-i18n-field-input">
        {{#if field.displayAllLanguages}}
        <span class="input-group-addon">
            {{input type='text' value=lang
                    placeholder='lang'
                    name=dasherizedFieldNameLang
                    autocomplete="off"
                    classNames="eureka-i18n-field-lang-input"}}
         </span>
         {{/if}}
        {{input type='text' value=value
                placeholder='value'
                name=dasherizedFieldName
                autocomplete="off"
                classNames="eureka-field-input eureka-i18n-field-value-input form-control"}}
    </div>
{{else }} {{#if isText}}
    {{input type='text' value=value name=dasherizedFieldName autocomplete="off" class="eureka-field-input form-control"}}
{{else}} {{#if isBoolean}}
    {{input type='checkbox' checked=value name=dasherizedFieldName autocomplete="off" class="eureka-field-input form-control"}}
{{else}} {{#if isNumber}}
    {{input type='number' value=value name=dasherizedFieldName autocomplete="off" class="eureka-field-input form-control"}}
{{else}} {{#if isDate}}
    {{#date-picker value=value name=dasherizedFieldName autocomplete="off" class="eureka-field-input form-control"}}{{/date-picker}}
{{else}}
    {{input type=inputType value=value name=dasherizedFieldName autocomplete="off" class="eureka-field-input form-control"}}
{{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
