
<span class="label secondary">{{model.type}}</span>
<h1>{{model.title}} {{#link-to 'type.edit' model.type model._id}}<small>edit</small>{{/link-to}}</h1>

{{#if model.description}}
    <p>{{model.description}}</p>
{{/if}}
{{#if model.thumb}}
    <img {{bind-attr src=model.thumb}} />
{{/if}}

{{#each field in fields}}
    {{field-display field=field}}
{{/each}}
