
<fieldset><legend>{{field.name}}</legend>

{{#if field.isMulti}}

    {{#if field.isRelation}}
        <h3>editable {{field.isEditable}}</h3>
        {{#each item in field.content}}
            {{#if item.isEditable}}
                {{model-form model=item.value isRelation=true}}
                <button class="button alert" {{action 'removeRelation' item}}>remove</button>
                <button class="button success" {{action 'doneRelation' item}}>done</button>
                <br />
            {{else}}
                {{#if item.value._id}}
                    <button class="button secondary" {{action 'editRelation' item}}>
                        {{item.value.title}} [X]
                    </button>
                {{else}}
                    <button class="button alert" {{action 'editRelation' item}}>
                        {{item.value.title}}
                    </button>
                {{/if}}
            {{/if}}

        {{/each}}
        {{#unless field.isEditable}}
            {{type-ahead onSelected='add' placeholder="search..." field=field}}
        {{/unless}}

    {{else}}

        {{#each item in field.content}}
            {{dynamic-input field=field value=item.value}}
        {{/each}}
        {{#if displayAddButton}}
            <a {{action 'add'}}>add</a>
        {{/if}}

    {{/if}}

{{else}}


    {{#if field.isRelation}}

        {{#if field.content}}
            {{#if field.isEditable}}
                {{#if field.content._id}}
                    {{type-ahead onSelected='add' placeholder="search..." field=field value=field.content.title}}
                {{else}}
                    {{model-form model=field.content isRelation=true}}
                    <button class="button alert" {{action 'removeRelation'}}>remove</button>
                    <button class="button success" {{action 'doneRelation' field}}>done</button>
                    <br />
                {{/if}}

            {{else}}
                {{#if field.content._id}}
                    <button class="button secondary" {{action 'editRelation' field}}>
                        {{field.content.title}} [X]
                    </button>
                {{else}}
                    <button class="button alert" {{action 'editRelation' field}}>
                        {{field.content.title}}
                    </button>
                {{/if}}
            {{/if}}
        {{else}}
            {{type-ahead onSelected='add' placeholder="search..." field=field}}
        {{/if}}

    {{else}}

        {{#if field.isI18n}}
            {{#each item in field.content}}
              <div class="row collapse">
                <div class="small-2 columns">
                    {{input type='text' placeholder='lang' classNames="prefix" value=item.lang}}
                </div>
                <div class="small-10 columns">
                    {{input type='text' placeholder='value' value=item.value}}
                </div>
              </div>
            {{/each}}
            <a {{action 'add'}}>add</a>

        {{else}}
            {{dynamic-input field=field value=field.content}}
        {{/if}}
    {{/if}}

{{/if}}
</fieldset>
