
<fieldset><legend>{{field.name}}</legend>
    {{#if field.schema.multi}}
        <ul>
        {{#each item in field.content}}
            <li>
                {{#if field.isRelation}}
                    {{#link-to 'type.display' item.value.type item.value._id}}
                        {{item.value.title}}
                    {{/link-to}}
                {{else}}
                    {{item.value}}
                {{/if}}
            </li>
        {{/each}}
        </ul>
    {{else}}
        {{#if field.isRelation}}
            {{#link-to 'type.display' field.content.type field.content._id}}
                {{field.content.title}}
            {{/link-to}}
        {{else}}
            {{field.content}}
        {{/if}}
    {{/if}}
</fieldset>
