
<fieldset><legend>{{field.name}}</legend>
    {{#if field.schema.multi}}
        {{#if field.isI18n}}
            {{#each i18tem in field.content}}
                <span class="label secondary">{{i18tem.lang}}</span>
                <ul>
                {{#each item in i18tem.value}}
                    <li>
                        {{#if field.isSafeString}}
                            {{{item.value}}}
                        {{else}}
                            {{item.value}}
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            {{/each}}
        {{else}}
            <ul>
            {{#each item in field.content}}
                <li>
                    {{#if field.isRelation}}
                        {{#link-to 'type.display' item.value.type item.value._id}}
                            {{item.value.title}}
                        {{/link-to}}
                    {{else}}
                        {{#if field.isSafeString}}
                            {{{item.value}}}
                        {{else}}
                            {{item.value}}
                        {{/if}}
                    {{/if}}
                </li>
            {{/each}}
        {{/if}}
        </ul>
    {{else}}
        {{#if field.isRelation}}
            {{#link-to 'type.display' field.content.type field.content._id}}
                {{field.content.title}}
            {{/link-to}}
        {{else}}
            {{#if field.isI18n}}
                <ul class="no-bullet">
                {{#each item in field.content}}
                    <li>
                        <span class="label secondary">{{item.lang}}</span>
                        {{#if field.isSafeString}}
                            {{{item.value}}}
                        {{else}}
                            {{item.value}}
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            {{else}}
                {{#if field.isSafeString}}
                    {{{field.content}}}
                {{else}}
                    {{field.content}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
</fieldset>
