
{{#if field.isMulti}}

    {{#if field.isRelation}}
        <div class="eureka-relations-list">
        {{#each item in field.content}}
            {{#if item.isEditable}}
                <div class="eureka-new-relation-form">
                    {{model-form model=item.value isRelation=true}}
                    <button class="btn btn-default" {{action 'removeRelation' item}}>remove</button>
                    <button class="btn btn-success" {{action 'doneRelation' item}}>done</button>
                </div>
            {{else}}
                {{#if item.value._id}}
                    <button {{bind-attr class=":btn :btn-primary :eureka-selected-relation field.name"}} {{action 'editRelation' item}}>
                        {{item.value.__title__}} &times;
                    </button>
                {{else}}
                    <button {{bind-attr class=":btn :btn-danger :eureka-selected-relation :eureka-new-relation field.name"}} {{action 'editRelation' item}}>
                        {{item.value.__title__}}
                    </button>
                {{/if}}
            {{/if}}
        {{/each}}
        </div>
        {{#unless field.isEditable}}
            {{relation-auto-suggest
                onSelected='add'
                placeholder="search..."
                field=field
                nameBinding='field.name'
                class="eureka-field-input"}}
        {{/unless}}

    {{else}}

        {{#each item in field.content}}
            <div class="eureka-multi-field-input">
                {{dynamic-input field=field value=item.value}}
            </div>
        {{/each}}
        {{#if displayAddButton}}
            <button class="btn btn-default eureka-multi-field-add-input" {{action 'add'}}>add</button>
        {{/if}}

    {{/if}}

{{else}}


    {{#if field.isRelation}}

        {{#if field.content}}
            {{#if field.isEditable}}
                {{#if field.content._id}}
                    {{relation-auto-suggest
                         onSelected='add'
                         placeholder="search..."
                         field=field
                         nameBinding='field.name'
                         class="field-input"}}
                {{else}}
                    <div class="eureka-new-relation-form">
                        {{model-form model=field.content isRelation=true}}
                        <button class="btn btn-default" {{action 'removeRelation'}}>remove</button>
                        <button class="btn btn-success" {{action 'doneRelation' field}}>done</button>
                    </div>
                {{/if}}

            {{else}}
                {{#if field.content._id}}
                    <button {{bind-attr class=":btn :btn-primary :eureka-selected-relation field.name"}} {{action 'editRelation' field}}>
                        {{{field.content.__title__}}} &times;
                    </button>
                {{else}}
                    <button {{bind-attr class=":btn :btn-danger eureka-selected-relation eureka-new-relation field.name"}} {{action 'editRelation' field}}>
                        {{{field.content.__title__}}}
                    </button>
                {{/if}}
            {{/if}}
        {{else}}

            {{relation-auto-suggest
                onSelected='add'
                placeholder="search..."
                field=field
                nameBinding='field.name'
                class="eureka-field-input"}}

        {{/if}}

    {{else}}

        {{#if field.isI18n}}
            {{#each item in field.content}}
              <div class="row collapse">
                <div class="small-2 columns">
                    {{input type='text' placeholder='lang' classNames="prefix" value=item.lang}}
                </div>
                <div class="small-10 columns">
                    {{input type='text' placeholder='value' value=item.value}}
                </div>
              </div>
            {{/each}}
            <button class="btn btn-default eureka-i18n-field-add-input" {{action 'add'}}>add</button>

        {{else}}
            {{dynamic-input field=field value=field.content}}
        {{/if}}
    {{/if}}

{{/if}}
