
<nav class="navbar navbar-default eureka-section-navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{__modelMeta__.pluralizedLabel}} </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
            {{#link-to __modelMeta__.newRouteName
                classNames="eureka-link-to-new btn btn-default"
                classNameBindings="__modelMeta__.EurekaGenericModelModelCSS"}}
                    <i class="glyphicon glyphicon-plus"></i> create
            {{/link-to}}
        </li>
      </ul>
        <form class="navbar-form" role="search">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            {{!-- <i class="glyphicon glyphicon-search"></i> --}}
            {{!-- <input class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text"> --}}
            {{#search-query-input action="searchModel" classNames="eureka-search-input" modelMeta=__modelMeta__}}{{/search-query-input}}
          </div>
        </div>
            {{!-- <i class="glyphicon glyphicon-search"></i> --}}
            {{!-- {{#search-query-input action="searchModel" classNames="eureka-search-input" modelMeta=__modelMeta__}}{{/search-query-input}} --}}
            {{!-- {{#search-query action="searchModel" modelMeta=__modelMeta__}}{{/search-query}} --}}
        </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{!-- <div class="eureka-title-section">
    <div class="col-xs-7 col-sm-7">
        <h1> {{__modelMeta__.pluralizedLabel}} </h1> --}}

{{!--         <ul class="nav nav-pills">
            <li class="dropdown active">
                <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
                    <span class="badge pull-left">topic</span>
                    &nbsp;iPhone 5S
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">filter</a></li>
                    <li><a href="#">remove</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">topic</span>
                    &nbsp;Online service provider &times;
                </a>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">author</span>
                    &nbsp;Namlook &times;
                </a>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">topics.nuggets.author.age</span>
                    &nbsp; > 18 &times;
                </a>
            </li>
        </ul> --}}
{{!--     </div>
    <div class="col-xs-5 col-sm-5 text-right eureka-link-to-new-section">
        {{#link-to __modelMeta__.newRouteName
            classNames="btn btn-default eureka-link-to-new"
            classNameBindings="__modelMeta__.EurekaGenericModelModelCSS"}}
                + Create {{__modelMeta__.label}}
        {{/link-to}}
    </div>
</div> --}}

{{#if filters.length}}
    <div {{bind-attr class=":eureka-filter-section filters.length::eureka-filter-section-empty"}}>
        <ul class="nav nav-tabs">
            {{#link-to __modelMeta__.indexRouteName
                tagName="li"
                href=false
                classNames="eureka-link-to-index"
                classNameBindings="__modelMeta__.EurekaGenericModelModelCSS"}}
                    <a href="#">All</a>
            {{/link-to}}
            {{#each filter in filters}}
                {{#link-to filter.route
                    tagName="li"
                    href=false
                    classNames="eureka-filter-to"
                    classNameBindings="__modelMeta__.EurekaGenericModelModelCSS"}}
                        <a href="#">
                            <i {{bind-attr class="filter.icon"}}></i>
                            <span class="hidden-xs">{{filter.label}}</span>
                        </a>
                {{/link-to}}
            {{/each}}
        </ul>
    </div>
{{/if}}

<div class="eureka-widgets">
    {{#each widgetRow in widgetRows}}
    <div class="row eureka-widgets-row">
        {{#each widget in widgetRow}}
            <div {{bind-attr class="widget.css :eureka-widget"}}>
                {{#if widget.isTimeSeries}}
                    <h5 class="text-center">{{widget.label}}</h5>
                    {{model-timeseries-widget fieldPath=widget.field
                        label=widget.label
                        aggregationType=widget.aggregationType
                        query=query
                        modelMeta=__modelMeta__}}
                {{/if}}
                {{#if widget.isTimeline}}
                    {{model-timeline-widget modelMeta=__modelMeta__
                        query=query
                        contentField=widget.contentField
                        startField=widget.startField
                        endField=widget.endField}}
                {{/if}}
                {{#if widget.isMatchingQueryDonut}}
                    {{model-matching-query-donut-widget modelMeta=__modelMeta__ query=query}}
                {{/if}}
                {{#if widget.isFacetDonut}}
                    {{model-facet-donut-widget fieldPath=widget.field
                        label=widget.label
                        query=query
                        modelMeta=__modelMeta__}}
                {{/if}}
                {{#if widget.isTableView}}
                    {{model-list-table modelMeta=__modelMeta__
                        query=query
                        fields=widget.fields
                        limit=widget.limit
                        populate=widget.populate
                        sortBy=widget.sortBy
                        itemClicked='displayItem'}}
                {{/if}}
                {{#if widget.isRegularView}}
                    {{model-list modelMeta=__modelMeta__
                        query=query
                        limit=widget.limit
                        populate=widget.populate
                        sortBy=widget.sortBy}}
                {{/if}}
            </div>
        {{/each}}
    </div>
    {{/each}}
</div>


{{!-- <div class="row">
    <!-- results -->
    {{#if facetedFields}}
    <div class="col-xs-9 col-sm-9">
    {{else}}
    <div class="col-xs-12 col-sm-12">
    {{/if}}
        <form class="eureka-search-section form-inline text-right" role="form">
            <div class="form-group has-feedback eureka-search-query-container">
                <span class="glyphicon glyphicon-search form-control-feedback search-icon"></span>
                {{#search-query action="searchModel" modelMeta=__modelMeta__}}{{/search-query}}
            </div>
        </form>
        <div style="text-align:center">
            <h5>Number of dissections over time</h5>
        {{model-timeseries-widget fieldPath='dissectionDate'
            fieldName='Dissection date'
            aggregation="$year"
            query=query
            limit=facetedField.limit
            modelType=model.type
            action='searchModel'}}
        </div>
        <div class="eureka-charts row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                {{model-matching-count-widget modelMeta=__modelMeta__ query=query}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                {{model-facet-donut-widget fieldPath='maturity' label='Maturity'
                    query=query
                    modelMeta=__modelMeta__}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                {{model-facet-donut-widget fieldPath='voucherBarcoding' label='Voucher barcoding'
                    query=query
                    modelMeta=__modelMeta__}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                {{model-facet-donut-widget fieldPath='gender.label' label='Gender'
                    query=query
                    modelMeta=__modelMeta__}}
            </div>
        </div>
        <div class="eureka-results clearfix">
            {{#if tableView}}
                {{model-list-table modelMeta=__modelMeta__
                    query=query
                    itemClicked='displayItem'}}
            {{else}}
                {{model-list modelMeta=__modelMeta__ query=query}}
            {{/if}}
        </div>
    </div>

    <!-- search and faceting -->
    {{#if facetedFields}}
    <div class="col-xs-3 col-sm-3 eureka-right-sidebar">
        <h3>Stats</h3>
        {{model-matching-count-widget modelMeta=__modelMeta__ query=query}}
        {{#each facetedField in facetedFields}}
            {{model-facet-widget fieldPath=facetedField.fieldPath
                fieldName=facetedField.fieldName
                query=query
                limit=facetedField.limit
                modelType=model.type
                action='searchModel'}}
        {{/each}}

    </div>
    {{/if}}
</div>
 --}}