
<fieldset><legend>Search {{model.type}}</legend>
{{#simple-query action="updateModel" model=model class="simple-query"}}{{/simple-query}}
{{#advanced-query action="updateModel" model=model class="advanced-query"}}{{/advanced-query}}
{{model.length}} results
</fieldset>

{{#each item in model}}
    <fieldset class="result-item">
        <legend>{{model.type}}</legend>
        <h2 class="item-title">
            {{model-to 'display' item}}
        </h2>


        {{#if item.__description__}}
            <p class="item-description">{{{item.__description__}}}</p>
        {{/if}}

        {{#if item.__thumb__}}
            <img class="item-thumb" {{bind-attr src=item.__thumb__}} />
        {{/if}}
    </fieldset>
{{/each}}