
<div class="eureka-title-section">
    <div class="col-xs-7 col-sm-7">
        <h1> {{model.__meta__.pluralizedTitle}} </h1>

{{!--         <ul class="nav nav-pills">
            <li class="dropdown active">
                <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
                    <span class="badge pull-left">topic</span>
                    &nbsp;iPhone 5S
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">filter</a></li>
                    <li><a href="#">remove</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">topic</span>
                    &nbsp;Online service provider &times;
                </a>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">author</span>
                    &nbsp;Namlook &times;
                </a>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">topics.nuggets.author.age</span>
                    &nbsp; > 18 &times;
                </a>
            </li>
        </ul> --}}
    </div>
    <div class="col-xs-5 col-sm-5 text-right eureka-link-to-new-section">
        {{#link-to model.__meta__.newRouteName
            classNames="btn btn-default eureka-link-to-new"
            classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                + Create {{model.__meta__.title}}
        {{/link-to}}
    </div>
</div>

<div {{bind-attr class=":eureka-filter-section filters.length::eureka-filter-section-empty"}}>
    <ul class="nav nav-tabs">
        {{#if filters.length}}
            {{#link-to model.__meta__.indexRouteName
                tagName="li"
                href=false
                classNames="eureka-link-to-index"
                classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                    <a href="#">All</a>
            {{/link-to}}
            {{#each filter in filters}}
                {{#link-to filter.route
                    tagName="li"
                    href=false
                    classNames="eureka-filter-to"
                    classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                        <a href="#">
                            <i {{bind-attr class="filter.icon"}}></i>
                            <span class="hidden-xs">{{filter.label}}</span>
                        </a>
                {{/link-to}}
            {{/each}}
        {{/if}}
    </ul>
</div>

<form class="eureka-search-section form-inline text-right" role="form">
    <div class="form-group has-feedback eureka-search-query-container">
        <span class="glyphicon glyphicon-search form-control-feedback search-icon"></span>
        {{#search-query action="searchModel" model=model}}{{/search-query}}
    </div>
    {{#if sorting.length}}
        <div class="form-group eureka-sortby-selection">
            order by {{view Ember.Select
                           content=sorting
                           optionValuePath="content.order"
                           optionLabelPath="content.label"
                           value=currentSorting}}
        </div>
    {{/if}}
</form>


<div class="eureka-results clearfix">
    {{#each item in model}}
        <div class="eureka-result-item row">
            {{#if item.__thumb__}}
                <div class="eureka-thumb col-xs-4">
                    {{#cropped-thumb model=item class="eureka-item-thumb"}}{{/cropped-thumb}}
                </div>
            {{/if}}

            <div {{bind-attr class="item.__thumb__:col-xs-8"}}>
                <h3 class="eureka-item-title">
                    {{#link-to item.__meta__.displayRouteName item._id
                        classNames="eureka-link-to-display"
                        classNameBindings="model.__meta__.EurekaGenericModelModelCSS"}}
                            {{item.__title__}}
                    {{/link-to}}
                </h3>

                {{#if item.__description__}}
                    <p class="eureka-item-description">{{{item.__description__}}}</p>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>

