<div {{bind-attr class=":eureka-document model.__meta__.dasherizedType"}}>

    <div class="eureka-head row">
        {{#if model.__thumb__}}
            <div class="col-xs-4">
                {{#cropped-thumb model=model class="eureka-document-thumb"}}{{/cropped-thumb}}
            </div>
        {{/if}}

        <div {{bind-attr class="model.__thumb__:col-xs-8"}}>
            <div class="eureka-document-head-title">
                <p><span class="label label-default">{{model.__meta__.type}}</span></p>
                <h1 {{bind-attr class=":eureka-document-title model.__meta__.dasherizedType"}}>
                    {{{model.__title__}}}
                </h1>
            </div>
            <div class="eureka-document-description">
                {{#if model.__description__}}
                    <p>{{{model.__description__}}}</p>
                {{/if}}
            </div>
        </div>
    </div>

    {{#if modelActions.length}}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Informations</a></li>
            {{#each modelAction in modelActions}}
                {{#unless modelAction.isSecondary}}
                    <li><a href="#"
                        {{bind-attr class=":eureka-action :eureka-main-action modelAction.cssClass model.__meta__.dasherizedType"}}
                        {{action 'trigger' modelAction.name}}>
                          <i {{bind-attr class="modelAction.iconClass"}}></i> <span class="hidden-xs">{{modelAction.label}}</span>
                        </a>
                    </li>
                {{/unless}}
            {{/each}}
        <li class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{#each modelAction in modelActions}}
                    {{#if modelAction.isSecondary}}
                    <li><a href="#"
                        {{bind-attr class=":eureka-action :eureka-secondary-action modelAction.cssClass model.__meta__.dasherizedType"}}
                        {{action 'trigger' modelAction.name}}>
                          <i {{bind-attr class="modelAction.iconClass"}}></i> {{modelAction.label}}
                        </a>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
      </li>
    </ul>
    {{/if}}

    {{model-display model=model}}
</div>