<div {{bind-attr class=":eureka-document model.__meta__.EurekaGenericModelModelCSS"}}>

    <div class="eureka-head row">
        {{#if model.thumbUrl}}
            <div class="col-xs-4">
                {{#cropped-thumb model=model class="eureka-document-thumb"}}{{/cropped-thumb}}
            </div>
        {{/if}}

        <div {{bind-attr class="model.thumbUrl:col-xs-8"}}>
            <div class="eureka-document-head-title">
                <p>{{#link-to model.__meta__.indexRouteName}}<span class="label label-default">{{model.__meta__.label}}</span>{{/link-to}}</p>
                <h1 {{bind-attr class=":eureka-document-title model.__meta__.EurekaGenericModelModelCSS"}}>
                    {{renderTitle model}}
                </h1>
            </div>
            <div class="eureka-document-description">
                <p>{{renderDescription model}}</p>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Informations</a></li>
    </ul>

    <ul class="eureka-actions nav nav-pills pull-right">
        {{#each modelAction in mainModelActions}}
            <li><a href="#"
                {{bind-attr class=":eureka-action :eureka-main-action modelAction.cssClass model.__meta__.EurekaGenericModelModelCSS"}}
                {{action 'trigger' modelAction.name}}>
                    {{#if modelAction.iconClass}}
                        <i {{bind-attr class="modelAction.iconClass"}}></i> <span class="hidden-xs">{{modelAction.label}}</span>
                    {{else}}
                        {{modelAction.label}}
                    {{/if}}
                </a>
            </li>
        {{/each}}
        {{#if secondaryModelActions.length}}
        <li class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{#each modelAction in secondaryModelActions}}
                    <li><a href="#"
                        {{bind-attr class=":eureka-action :eureka-secondary-action modelAction.cssClass model.__meta__.EurekaGenericModelModelCSS"}}
                        {{action 'trigger' modelAction.name}}>
                            <i {{bind-attr class="modelAction.iconClass"}}></i> {{modelAction.label}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
        {{/if}}
    </ul>

    {{model-display model=model}}
</div>