
<div class="eureka-title-section row">
    <div class="col-xs-7 col-sm-9">
        <h1> {{model.__meta__.title}} </h1>

{{!--         <ul class="nav nav-pills">
            <li class="dropdown active">
                <a class="dropdown-toggle"  data-toggle="dropdown" href="#">
                    <span class="badge pull-left">topic</span>
                    &nbsp;iPhone 5S
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">filter</a></li>
                    <li><a href="#">remove</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">topic</span>
                    &nbsp;Online service provider &times;
                </a>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">author</span>
                    &nbsp;Namlook &times;
                </a>
            </li>
            <li class="dropdown active">
                <a href="#">
                    <span class="badge pull-left">topics.nuggets.author.age</span>
                    &nbsp; > 18 &times;
                </a>
            </li>
        </ul> --}}
    </div>
    <div class="col-xs-5 col-sm-3 text-right">
        {{#model-to 'new' model classNames="btn btn-default"}}+ Create {{model.__meta__.title}}{{/model-to}}
    </div>
</div>


<form class="eureka-search-section form-inline text-right" role="form">
    <div class="form-group has-feedback eureka-search-query-container">
        <span class="glyphicon glyphicon-search form-control-feedback search-icon"></span>
        {{#search-query action="searchModel" model=model}}{{/search-query}}
    </div>
    {{#if filters.length}}
        <div class="form-group eureka-sortby-selection">
            order by {{view Ember.Select
                           content=filters
                           optionValuePath="content.order"
                           optionLabelPath="content.label"
                           value=currentFilter}}
        </div>
    {{/if}}
</form>


<div class="eureka-results clearfix">
    {{#each item in model}}
        <div class="eureka-result-item row">
            {{#if item.__thumb__}}
                <div class="eureka-thumb col-xs-4">
                    {{#cropped-thumb model=item class="eureka-item-thumb"}}{{/cropped-thumb}}
                </div>
            {{/if}}

            <div {{bind-attr class="item.__thumb__:col-xs-8"}}>
                <h3 class="eureka-item-title">
                    {{#model-to 'display' item item._id}}{{item.__title__}}{{/model-to}}
                </h3>

                {{#if item.__description__}}
                    <p class="eureka-item-description">{{{item.__description__}}}</p>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>

