
{{#each item in model}}
    <fieldset>
        <legend>{{model.type}}</legend>
        <p>{{item._id}}</p>
        <p>{{item.title}}</p>
        <dl>
            {{#each value in item._values}}
                <dt>{{value.name}}</dt>
                <dd>{{value.value}}</dd>
            {{/each}}
        </dl>

        {{!--
        {{document-display data=item}}
        {{#link-to 'type.show' model.type item.id}}see{{/link-to}}
        --}}
    </fieldset>
{{/each}}