
<fieldset>
    <legend>{{model._type}}</legend>

    <h1>{{model.title}}</h1>
    {{#if model.description}}
        <p>{{model.description}}</p>
    {{/if}}
    {{#if model.thumb}}
        <img {{bind-attr src=model.thumb}} />
    {{/if}}

    <dl>
        {{#each value in model._values}}
            <dt>{{value.name}}</dt>
            <dd>
                {{display-field model=model fieldName=value.name value=value.value}}
            </dd>
        {{/each}}
    </dl>
</fieldset>
